extends layout

block content
  div(class="container")
    header
      div(class="header_logo")
        img(class="header_logo_img" src="https://w0.pngwave.com/png/202/732/yoga-logo-rishikesh-yogi-yoga-png-clip-art.png")
      div(class="header_about")
        p(class="header_about_txt") ABOUT
      div(class="header_coaches")
        p(class="header_coaches_txt") COACHES
      div(class="header_price")
        p(class="header_price_txt") PRICE
      div(class="header_location")
        p(class="header_location_txt") LOCATION
      div(class="header_phone")
        p(class="header_phone_txt") +38-(xxx)-xxx-xxxx
    section(class="greetings")
      img(class="greetings_img" src="/stylesheets/img/greetingsimg.jpg")
      h1(class="greetings_txt_h1") Yoga Studio
      h2(class="greetings_txt_h3") in Kiev
      button(class="greetings_button button") See More
    section(class="explanation")
      p(class="explanation_title_p1") Why do you have
      p(class="explanation_title_p2") to try Yoga?
      div(class="explanation_circles_box")
        div(class="circle one")
        p(class="circle_txt one_text") General health improvement
        div(class="circle two") 
        p(class="circle_txt two_text") Harmony with the world
        div(class="circle three")
        p(class="circle_txt three_text") Getting rid of back and joint pain
        div(class="circle four")
        p(class="circle_txt four_text") Metabolic acceleration and weight loss
        div(class="circle five")
        p(class="circle_txt five_text") Body cleansing
        div(class="circle six")
        p(class="circle_txt six_text") Mental improvement
        div(class="circle seven")
        p(class="circle_txt seven_text") Posture improvement
        div(class="circle eight")
        p(class="circle_txt eight_text") Immunity increase
    section(class="directions")
      p(class="directions_title") Our directions
      div(class="direction_box_birkam")
        div(class="direction_box_txt")
        img(class="direction_box_img" src="/stylesheets/img/directionbirkam.jpg")
      div(class="direction_box_brackhma")
        div(class="direction_box_txt")
        img(class="direction_box_img" src="/stylesheets/img/directionbrackhma.jpg")
      div(class="direction_box_vini")
        div(class="direction_box_txt")
        img(class="direction_box_img" src="/stylesheets/img/directionvini.jpg")
    section(class="trainers")
       p(class="trainers_title_p") Trainers
       div(class="trainers_circles_box")
         div(class="circle one")
         p(class="one_text_high") Name
         p(class="one_text_low") 2 years experience
         div(class="circle two")
         p(class="two_text_high") Name
         p(class="two_text_low") 2 years experience
         div(class="circle three")
         p(class="three_text_high") Name
         p(class="three_text_low") 2 years experience
         div(class="circle fourth")
         p(class="fourth_text_high") Name
         p(class="fourth_text_low") 2 years experience
    section(class="price")
      p(class="price_title_p") Price
      div(class="price_box")
      button(class="price_button button") Buy
    section(class="location")
    footer